<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CUTIEPIE</title>
    <!-- link to css -->
    <link rel="stylesheet" href="style.css" />
    <!-- box icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />

    <link rel="icon" href="images/cute/rosecolor.png" type="image/x-icon" />
    <link
      rel="shortcut icon"
      href="images/cute/rosecolor.png"
      type="image/x-icon"
    />
  </head>
  <body class="">
    <!-- Navbar -->
    <header>
      <!-- logo -->
      <a href="#" class="logo"
        ><img
          title="CUTIEPIE"
          src="images/cute/rosecolor.png"
          alt=""
        />CUTIEPIE</a
      >

      <!-- menu icon -->
      <i class="bx bx-menu" id="menu-icon"></i>
      <!-- nav list -->
      <ul class="navbar">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <!-- <li><a href="#New">New</a></li> -->
        <!-- <li><a href="#best">Best Sellers</a></li> -->
        <li><a href="#products">Products</a></li>
      </ul>

      <!-- right icons -->
      <div class="header-icons">
        <i class="bx bx-shopping-bag" id="cart-icon"><span>0</span></i>
      </div>
    </header>

    <!-- home -->
    <section class="home" id="home">
      <div class="home-text animated-text">
        <h1>
          Enhance Your Beauty, <br />
          Embrace The Glam.
        </h1>
        <p>
          Experience a Radiant Glow through Our Opulent Selection of Prestigious
          Makeup Essentials.
        </p>
        <a href="#products" class="btn1">Buy Now</a>
      </div>
      <div class="home-img"></div>
    </section>
    <!-- about -->
    <section class="about" id="about">
      <img class="about-img slide-right" src="images/about.jpg" alt="" />

      <div class="about-text slide-up">
        <h2>About Us</h2>
        <p>
          🌿 Welcome to <i>CUTIEPIE</i>, where beauty and nature unite in a
          mesmerizing dance. Step into a world of pure, organic luxury—where
          each cosmetic creation is a symphony of botanical wonders. Picture
          skincare that's not just a routine, but a celebration of your natural
          allure.
        </p>

        <p>
          💧 Our commitment to pristine, organic ingredients isn’t just a
          choice; it's a promise to your skin and the planet. With each
          carefully curated formula, we embrace the essence of sustainability,
          ensuring every product not only enhances your beauty but leaves a
          positive footprint on the world.
        </p>
        <p>
          ✨ Indulge in our lavish range—a fusion of science and nature—crafted
          to honor your unique beauty. From lush botanicals to eco-conscious
          packaging, we're redefining beauty by nurturing your skin and the
          environment simultaneously.
        </p>
        <p>
          🌟 Join us on this transformative journey toward a more radiant,
          conscientious you. Elevate your beauty routine with
          <i>CUTIEPIE</i>
          and embrace a lifestyle where nature and skincare harmonize for a more
          exquisite you and a more beautiful world.
        </p>
      </div>
    </section>
    <!-- new product -->
    <!-- <section class="best" id="best"></section> -->
    <!-- products -->
    <section class="products" id="products">
      <div class="heading">
        <h2>Our Products</h2>
      </div>
      <!-- container -->
      <div class="products-container">
        <div class="box">
          <img src="images/cute/products/1.png" alt="" />
          <h3>Liquid Matte lipstick</h3>
          <div class="content">
            <span>70 DH</span>
            <a href="#" class="addCart">Add to cart</a>
          </div>
        </div>
      </div>
    </section>
    <div class="cartTab">
      <h1>Shopping Cart</h1>
      <div class="listCart">
        <div class="item">
          <!-- <p>Empty :(.</p> -->
        </div>
      </div>
      <div class="btn">
        <button class="close" id="close">Close</button>
        <button class="checkOut" id="checkOut">Check Out</button>
      </div>
    </div>
    <!-- LINK TO JS -->
    <script src="main.js"></script>
  </body>
</html>
